@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url(./reset.css);

/* theme */

header > h1{
  font-family: "Rubik Wet Paint", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #ea4335; 
  line-height: 9.5rem;
  font-size: 7rem;
  text-shadow: .2rem .2rem rgb(255, 179, 0), 
  -.2rem -.2rem   rgb(255, 179, 0),
  .2rem -.2rem   rgb(255, 179, 0), 
  -.2rem .4rem rgb(255, 179, 0);
  padding: 3rem 0;
}

figure, section{
    max-width: 80rem;
    margin: 1rem auto;
}

figure img{
    width: 100%; /* 100% de la largeur du parent */ 
    filter: drop-shadow(0 0 2rem #dc143c);
}
/* galerie primary */


/* galerie figcaption titre */


.gallery-primary img{
    width: inherit;
    height: 15rem;
    
}

footer p{
    text-align: center;
    
}